:host {
    display: block;

    /**
      * @prop --selectMenuBackgroundColor: Background Color of the Select Input
      * @prop --selectMenuTextColor: Text Color of the Select Input
      * @prop --selectMenuBorderColor: Border Color of the Select Input
      * @prop --selectMenuBorderHoverColor: Border Hover Color of the Select Input
      * @prop --selectMenuBorderFocusColor: Border Focus Color of the Select Input
      * @prop --selectMenuInvalidBorder: Border Color of the Invalid Select Input
      * @prop --selectMenuOptHoverBackgroundColor: Background Hover Color of Select Menu Options
      * @prop --selectMenuOptGroupTextColor: Text Color of Select Menu Option Group
      * @prop --selectMenuOptTextHoverColor: Text Hover Color of the Select Menu Options
      * @prop --selecMenutInactiveCaret: Caret Shown When the Select Menu is Closed
      * @prop --selectMenuActiveCaret: Caret Shown When the Select Menu is Open
      * @prop --selectMenuBorderRadius: Border radius for Select Menu
      * @prop --selectMenuLabelColor: Text Color of the Label
      * @prop --selectMenuOptSelectedBackgroundColor: Background Color of the Selected Option
      * @prop --selectMenuOptSelectedTextColor: Text Color of the Selected Option
    */
}

:host([hidden]) {
    display: none;
}

label {
    font-family: var(--fontFamily);
    display: inline-block;
    margin-bottom: 10px;
    color: var(--selectMenuLabelColor);
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.rux-select {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 1px solid var(--selectMenuBorderColor);
    border-radius: var(--selectMenuBorderRadius);
    color: var(--selectMenuTextColor);
    font-family: var(--fontFamily);
    font-weight: normal;
    font-size: 1rem;
    padding: 0.438rem 3.125rem 0.438rem 0.5rem;
    background-image: var(--selectMenuInactiveCaret),
        var(--selectMenuBackgroundColor);
    background-position: center right 0.625rem, center left 0rem;
    background-repeat: no-repeat;
    user-select: none;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--selectMenuBorderHoverColor);
    }

    &:active:not(:disabled) {
        background-image: var(--selectMenuActiveCaret),
            var(--selectMenuBackgroundColor);
    }

    &:focus {
        outline: none;
        border: 1px solid var(--selectMenuBorderFocusColor);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        &:hover {
            border: 1px solid var(--selectMenuBorderColor);
        }
    }

    &.rux-select-invalid {
        border: 1px solid var(--selectMenuInvalidBorder);
    }

    &::-ms-expand {
        display: none;
    }

    &:focus::-ms-value {
        background: transparent;
    }

    optgroup {
        color: var(--selectMenuOptGroupTextColor);
        background-color: var(--selectMenuBackgroundColor);
    }

    option {
        opacity: 1;
        color: var(--selectMenuTextColor);
        border-radius: 0px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);

        &:hover {
            color: var(--selectMenuOptTextHoverColor);
            background-color: var(--selectMenuOptHoverBackgroundColor);
        }

        &:focus {
            color: var(--selectMenuOptSelectedTextColor);
            background-color: var(--selectMenuOptSelectedBackgroundColor);
        }
    }
}
