:host {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    color: var(--tableRowTextColor);
    border-style: solid;
    border-width: 1px;
    border-color: var(--tableBorderColor);
    background: var(--tableRowBackgroundColor);
    text-align: left;
    overflow: scroll;
}
