:host {
    /**
      * @prop --menuTextColor: Pop Up Menu Text Color
    */
    // --menuTextColor: var(--primaryElementText);

    /**
      * @prop --menuItemBackgroundColor: Pop Up Menu Item Background Color
    */
    // --menuItemBackgroundColor: var(--primary);

    /**
      * @prop --menuItemHoverBackgroundColor: Pop Up Menu Item Hover Background Color
    */
    // --menuItemHoverBackgroundColor: var(--primaryLight);

    /**
      * @prop --menuItemHoverTextColor: Pop Up Menu Item Hover Text Color
    */
    // --menuItemHoverTextColor: var(--primaryElementText);

    display: block;

    li {
        padding: 0.15rem 0.75rem;
        color: var(--menuTextColor);
        text-decoration: none;
        font-size: 1rem;

        min-width: 15em;
        max-width: 20em;

        word-wrap: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        background-color: transparent; /* Testing for now */

        // height: 1rem;

        &:hover {
            background-color: var(--menuItemHoverBackgroundColor);
            color: var(--menuItemHoverTextColor);
        }
    }
}

:host([disabled]) {
    cursor: var(--disabledCursor);
    // color: rgba(var(--menuTextColor), 0.4);

    li {
        opacity: var(--disabledOpacity);

        &:hover {
            background-color: transparent;
        }
    }
}

// ::slotted {
//     color: var(--menuTextColor);
//     text-decoration: none;
//     font-size: 1rem;
// }
