:host {
    /**
      * @prop --popupMenuTextColor: Pop Up Menu Text Color
    */
    --popupMenuTextColor: var(--primaryElementText);

    /**
      * @prop --popupMenuItemBackgroundColor: Pop Up Menu Item Background Color
    */
    --popupMenuItemBackgroundColor: var(--primary);

    /**
      * @prop --popupMenuItemHoverBackgroundColor: Pop Up Menu Item Hover Background Color
    */
    --popupMenuItemHoverBackgroundColor: var(--primaryLight);

    /**
      * @prop --popupMenuItemHoverTextColor: Pop Up Menu Item Hover Text Color
    */
    --popupMenuItemHoverTextColor: var(--primaryElementText);

    display: block;

    li {
        padding: 0.15rem 0.75rem;
        color: var(--popupMenuTextColor);
        text-decoration: none;
        font-size: 1rem;

        min-width: 15em;
        max-width: 20em;

        word-wrap: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        background-color: transparent; /* Testing for now */

        // height: 1rem;

        &:hover {
            background-color: var(--popupMenuItemHoverBackgroundColor);
            color: var(--popupMenuItemHoverTextColor);
        }
    }
}

::slotted {
    color: var(--popupMenuTextColor);
    text-decoration: none;
    font-size: 1rem;
}
