:host {
    /**
      * @prop --menuTextColor: Menu Text Color
    */

    /**
      * @prop --menuItemBackgroundColor: Menu Item Background Color
    */

    /**
      * @prop --menuItemHoverBackgroundColor: Menu Item Hover Background Color
    */

    /**
      * @prop --menuItemHoverTextColor: Menu Item Hover Text Color
    */

    display: block;

    li {
        padding: 0.15rem 0.75rem;
        color: var(--menuTextColor);
        text-decoration: none;
        font-size: 1rem;

        min-width: 15em;
        max-width: 20em;

        word-wrap: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        background-color: transparent; /* Testing for now */

        // height: 1rem;

        &:hover {
            background-color: var(--menuItemHoverBackgroundColor);
            color: var(--menuItemHoverTextColor);
        }
    }
}

:host([disabled]) {
    cursor: var(--disabledCursor);

    li {
        opacity: var(--disabledOpacity);

        &:hover {
            background-color: transparent;
        }
    }
}
