:host {
    display: block;
    position: sticky;

    top: 0;
    left: 0;

    height: 100px;
    width: 100%;

    padding: 0 1.875rem;

    box-sizing: border-box;
    background-color: var(--globalAppHeader);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}

header {
    display: flex;

    height: 100%;
    width: 100%;

    /* padding: 0 2.5rem; */

    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.app-meta {
    // temporary style change to accomdate temp app state and user name
    // may change based on how app state component is designed
    display: inline-flex;
    flex-wrap: wrap;
    // display: block;

    padding: 0;
    // pulls app-meta content to justify left
    margin: 0px auto 0px 10px;
    color: var(--inputBackground);
}

.app-info-wrapper {
    flex-basis: 100%;
    display: flex;
}

.app-meta h1 {
    letter-spacing: 0.25px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.app-name {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 13px;
    white-space: nowrap;
}

.app-domain {
    font-size: 2rem;
    font-weight: 700;
}

.app-version {
    font-size: 1.1875rem;
    font-weight: 300;
    display: inline-block;
    /* color: rgba(255, 255, 255, 0.298039); */

    margin-left: 0.5em;
}

// all temp classes and their subsequent styling will be replaced with internal component styles.
.temp-app-state {
    color: white;
    background-color: black;
    border-radius: 2px;
    margin-right: 11px;
    font-size: 14px;
    padding: 2px 4px;
    letter-spacing: 0.5px;
    text-align: center;
}

.temp-user-name {
    flex-basis: 50%;
    font-size: 14px;
    padding: 2px;
    letter-spacing: 0.5px;
}
