:host {
    display: block;
    position: sticky;

    top: 0;
    left: 0;

    height: 100px;
    width: 100%;

    padding: 0 1.875rem;

    box-sizing: border-box;
    background-color: var(--globalAppHeader);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}

header {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

slot[name='left-side'] > rux-icon {
    height: 34px;
}

slot[name='left-side'] > .shifted-up {
    height: 54px;
}

slot[name='app-meta'] > * {
    // temporary style change to accommodate temp app state and username; may change based on how app state component is designed
    display: inline-flex;
    flex-wrap: wrap;

    padding: 0;
    // pulls app-meta content to justify left
    margin: 0px auto 0px 10px;
    color: var(--inputBackground);
}

.app-info-wrapper {
    flex-basis: 100%;
    display: flex;
    align-items: baseline;
    margin-bottom: 6px;
    min-width: 170px;
}

.app-meta h1 {
    letter-spacing: 0.25px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 32px;
    font-size: 2rem;
}

.app-domain {
    font-weight: 700;
    margin-right: 13px;
}

.app-name {
    font-weight: 400;
    margin-right: 0.3em;
    white-space: nowrap;
}

.app-version {
    display: inline-block;
    font-size: 1.1875rem;
    font-weight: 300;
    white-space: nowrap;
}

.slotted-content {
    display: inline-flex;
    justify-content: center;
    flex-basis: 100%;
}

.app-state-wrapper {
    display: flex;
}

// all temp classes and their subsequent styling will be replaced with internal component styles.
.temp-app-state {
    box-sizing: border-box;
    color: var(--colorWhite);
    background-color: var(--colorTertiaryDarken4);
    border-radius: 2px;
    font-size: 14px;
    padding: 2px 6px;
    letter-spacing: 0.5px;
    text-align: center;
    height: 22px;
    margin-right: 6px;
    white-space: nowrap;
}

.temp-username {
    box-sizing: border-box;
    flex-basis: 50%;
    font-size: 14px;
    padding: 2px 0px;
    letter-spacing: 0.5px;
}
