/**
  * @prop() logHeaderBackgroundColor: the log header background
  */

:host {
    --logTextColor: var(--default-text);
    --logBackgroundColor: var(--surface);
    --logBorderColor: var(--background);

    --logHeaderTextColor: var(--default-text);
    --logHeaderBackgroundColor: var(--global-status-bar);

    --logFilterBackgroundColor: var(--primary-alt);
    --logFilterTextColor: var(--inverse-text);

    display: block;
    overflow: hidden;
}

:host([hidden]) {
    display: none;
}

rux-table {
    --tableHeaderBackgroundColor: var(--logHeaderBackgroundColor);
}

.rux-log__header-event-cell {
    width: 80%;
}

.header-event-container {
    display: flex;
    align-items: center;
}

.rux-log__filter {
    margin-left: auto;
}

rux-table-header-cell {
    width: 1%;
}

.rux-log__notification {
    width: 2000%;
    align-content: center;
    color: var(--logFilterTextColor);
    background-color: var(--logFilterBackgroundColor);
    padding: 0.5rem;
}
