:host {
    display: block;
    overflow: hidden;
}

.header-event-cell {
    width: 80%;
}

.header--event {
    display: flex;
    align-items: center;
}

.event-filter {
    margin-left: auto;
}

rux-table-header-cell {
    width: 1%;
}

.notification {
    width: 2000%;
    align-content: center;
    color: var(--logFilterTextColor);
    background-color: var(--logFilterBackgroundColor);
    padding: 0.5rem;
}
