:host {
    --thumbSize: var(--sliderThumbSize);
    --trackHeight: 1px;
    --trackBeforeThumbHeight: 5px;
    --trackCursor: pointer;
    --value: 50;
    --valuePercent: calc(1% * var(--value));
    --valueBeforeThumb: calc(1% * var(--value) - 1%);
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    cursor: pointer;
}
*[hidden] {
    display: none !important;
}
.rux-slider {
    display: flex;
    height: 20px;
    :hover {
        cursor: pointer;
    }
    :disabled {
        cursor: not-allowed;
    }
}

.rux-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    width: 100%;
    margin: 0px;
    color: transparent;
}
input[type='range']:focus {
    outline: none;
}
/****** Track ******/
/* Track -> WebKit */
.rux-range::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    max-width: 100%;
    /* width: 100%; */
    cursor: var(--trackCursor, pointer);
    border-radius: 2.5px;
    min-height: var(--trackHeight);
    max-height: var(--trackBeforeThumbHeight);
    background-image: linear-gradient(
            var(--sliderTrackBackgroundColor),
            var(--sliderTrackBackgroundColor)
        ),
        linear-gradient(
            var(--sliderTrackBackgroundColor),
            var(--sliderTrackBackgroundColor)
        );
    background-size: var(--valuePercent) 5px, 100% 1px;
    background-repeat: no-repeat no-repeat;
    background-position: left, right;
}
.rux-range:disabled::-webkit-slider-runnable-track {
    opacity: var(--disabledOpacity, 0.4);
    cursor: var(--disabledCursor);
}
/*****  Thumb ******/
/* Thumb -> Webkit */
.rux-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: calc(var(--thumbSize) / -2.7);
    height: var(--thumbSize);
    width: var(--thumbSize);
    border-radius: 100%;
    border: var(--sliderThumbBorderSize) solid var(--sliderThumbBorderColor);
    background-color: var(--sliderThumbBackgroundColor);
    cursor: pointer;
    z-index: 6;
}

.rux-range::-webkit-slider-thumb:hover {
    border-color: var(--sliderHoverThumbBorderColor);
    background-color: var(--sliderHoverThumbBackgroundColor);
}
.rux-range:disabled::-webkit-slider-runnable-track {
    opacity: var(--disabledOpacity);
    cursor: var(--disabledCursor);
}

.rux-range:disabled::-webkit-slider-thumb {
    cursor: var(--disabledCursor);
}

.rux-range:disabled::-webkit-slider-thumb:hover {
    border-color: var(--sliderThumbBorderColor);
}

.rux-range:not(:disabled)::-webkit-slider-thumb:active {
    border-color: var(--sliderSelectedThumbBorderColor);
    background-color: var(--backgroundColor);
}

.rux-range:not(:disabled)::-webkit-slider-thumb:focus,
.rux-range:not(:disabled)::-webkit-slider-thumb:hover:not(:active) {
    background-color: var(--sliderHoverThumbBackgroundColor);
}

.rux-range:not(:disabled)::-webkit-slider-thumb:active {
    border-color: var(--sliderSelectedThumbBorderColor);
    background-color: var(--backgroundColor);
}

.rux-range:not(:disabled)::-webkit-slider-thumb:focus,
.rux-range:not(:disabled)::-webkit-slider-thumb:hover:not(:active) {
    background-color: var(--sliderHoverThumbBackgroundColor);
}
